<div id="content" class="site-content">
  <div class="hmc-container">
    <div class="elementor elementor-314">
      <div class="elementor-inner">
        <div class="elementor-section-wrap">
          <section class="elementor-section elementor-top-section elementor-element elementor-element-0f0f385 elementor-section-height-min-height elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle">
            <div class="elementor-container elementor-column-gap-wide">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ec1a21c">
                  <div class="elementor-column-wrap">
                    <div class="elementor-widget-wrap">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="elementor-section elementor-top-section elementor-element elementor-element-d365130 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-531b1cf">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-b48ae66 elementor-widget elementor-widget-heading">
                        <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default">OUR HISTORY</h2>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-54031c2 elementor-widget elementor-widget-heading">
                        <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default">Shakuntlam International School, Agra Bah Road, Udi Mod Etawah</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="elementor-section elementor-top-section elementor-element elementor-element-ec2405b elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8abb304">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-b568a9a elementor-widget elementor-widget-text-editor">
                        <div class="elementor-widget-container">
                          <div class="elementor-text-editor elementor-clearfix">
                            <p>“Be wise in the use of Time as lost time is never found again” The question is not How much Time do we have ? The question is “ What shall we do with it?</p>
                            <p>Time management is an important aspect of human life, so that we not only do our work but also avoid unnecessary hurry and Tension. If we make a time- table and merge it effectively, we will find opportune in fulfillment but there is a need of determination and hard work to follow it.</p>
                            <i><h3 style="color: red;">“This is the motto of  Shakuntlam ”.<br>
                            “Learn from Yesterday, Live for today, Hope for tomorrow”<br>
                            “Time Flies……….You’re the Pilot”</h3></i>
                            <br><br>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-d365130 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default">
                              <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                  <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-531b1cf">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                      <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-54031c2 elementor-widget elementor-widget-heading">
                                          <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">DIGITAL CLASSES</h2>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                            <div class="row">
                              <div class="col-md-6">
                                <%= image_tag('smart_class.jpg') %>
                              </div>
                              <div class="col-md-6">
                                <p>The teachers’ computers in all digital class rooms are connected to a dedicated server installed in the Knowledge Centre through a campus-wide network. A powerful digital class application engine allows teachers to view and map relevant digital content for their classroom sessions as per their time tables and syllabus.</p>

                                <p>Existing classrooms are converted into technology-enabled digital class rooms equipped with digital class Interactive Digiboard Systems or digital class with a PC connected to a dedicated digital class Knowledge Centre inside the school campus.</p>

                                <p>The vast repository of curriculum-based digital content developed and aggregated by Teach next is made available to teachers for use in the digital class rooms. The digital content is present in a Teacher-led format and is mapped to the curriculum</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- .hmc-container -->
</div>
<!-- #content -->
<style type="text/css">
  .elementor-314 .elementor-element.elementor-element-d365130 > .elementor-container{
    max-width: 600px;
  }
  .elementor-size-default{
    text-transform: uppercase;
  }
</style>