<div id="content" class="site-content">
  <div class="hmc-container">
    <div data-elementor-type="wp-page" data-elementor-id="404" class="elementor elementor-404" data-elementor-settings="[]">
      <div class="elementor-inner">
        <div class="elementor-section-wrap">
          <section class="elementor-section elementor-top-section elementor-element elementor-element-6b8b7a3 elementor-section-height-min-height elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="6b8b7a3" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5062d2b" data-id="5062d2b" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-ee4d907 elementor-widget elementor-widget-heading" data-id="ee4d907" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default"></h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="elementor-section elementor-top-section elementor-element elementor-element-2b9c8ab elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2b9c8ab" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-default" style="max-width: 1140px;">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-363a52ea" data-id="363a52ea" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-7f7388b8 elementor-widget elementor-widget-heading" data-id="7f7388b8" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h3 class="elementor-heading-title elementor-size-large">Admission procedure</h3>
                        </div>
                      </div>
                      <section class="elementor-section elementor-inner-section elementor-element elementor-element-598c4622 elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default" data-id="598c4622" data-element_type="section">
                        <div class="container">
                          <% if @admission_procedure.present? %>
                            <div class="text-content"><%= raw @admission_procedure.description %></div>
                          <% else %>
                            <p style="color: black;font-size: 18px;">No candidate shall be admitted without an application in the prescribed form available from the school office.</p>
                            <p style="color: black;font-size: 18px;">All students applying for the admission are subjected to an entrance test and an interview.</p>
                            <br>
                            <p style="color: black;font-size: 18px;">No admission form will be accepted unless all entries are duly completed. The date of birth once entered on the admission form cannot be changed</p><br>
                            <p style="color: black;font-size: 18px;"> Children who are admitted in Nursery should not be less than two and half and more than four years of age on the 01 April of the year in which the admission is sought.</p><br>
                            <p style="color: black;font-size: 18px;">Admission is the monopoly of school and assignment to a particular section of the class depends on the school authorities.</p><br>
                            <p style="color: black;font-size: 18px;">Admission to PG / NC class is granted on the duly filled application form along with birth certificate either from the Hospital records Village Panchayat, Village Pradhan, or the Municipal corporation.</p><br>
                            <p style="color: black;font-size: 18px;">The pupils who have already attended a recognized school and are seeking admission in this school have to submit the transfer certificate and progress report card of the school as they last attended. Without which their admission will not be considered.</p><br>
                          <% end %>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>