<div id="content" class="site-content">
  <div class="hmc-container">
    <div data-elementor-type="wp-page" data-elementor-id="581" class="elementor elementor-581" data-elementor-settings="[]">
      <div class="elementor-inner container mt-5">
        <section>
          <h2 class="text-center"><b>LABORATORIES</b></h2>
          <br>
          <hr>
        </section>
        <section class="elementor-section elementor-top-section elementor-element elementor-element-2b9c8ab elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2b9c8ab" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-default" style="max-width: 1140px;">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-363a52ea" data-id="363a52ea" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <section class="elementor-section elementor-inner-section elementor-element elementor-element-598c4622 elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default" data-id="598c4622" data-element_type="section">
                        <div class="container">
                          <p style="color: black;font-size: 18px;">LABORATORIES FOR INFRASTRUCTURE TECHNOLOGY, WE WILL BE HARD TO DISPLACE.</p><br>
                          <p style="color: black;font-size: 18px;">
                            <h3>
                              <b><u>SCIENCE LABORATORIES: </u></b>
                            </h3>
                            <p style="color: black;font-size: 16px;">The Science Laboratory provides a platform for students of shakuntlam international school to practically perform the activities and get convinced about the laws and theories of the living as well as non-living world. The students till class VIII are taken to General Science Laboratories. And each student gets to perform activity on his/her own, under the guidance of the concerned teacher and the Laboratory Assistant.</p>
                            <p style="color: black;font-size: 16px;">The students are then asked to relate the various phenomenon and occurrences they see at home and outside to what they have learnt, be it the concept of latent heat, neutralization reactions, or conditions for growth of microbes. As an extension to this, the senior students from class IX to class XII are provided with three different well equipped and spacious Laboratories, one for Physics, one for Chemistry and one for Biology.</p>
                          </p>
                          <br>
                          <p style="color: black;font-size: 18px;">
                            <h3>
                              <b><u>COMPUTER LABORATORIES: </u></b>
                            </h3>
                            <p style="color: black;font-size: 16px;">There are two computer labs powered with Core i5 Processor CPU's. The method of education comprising of classroom theory and hands on lab experience provide the children necessary knowledge and motivation to do more. The students have free access to the systems and are encouraged to exploit the system resources and in this, highly experienced and talented computer teachers support them. One resource room with computer and internet facilities is being used exclusively by the students.</p>
                          </p>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <section>      
          <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-6 thumb mt-5">
              <a href="#-" class="fancybox" target="_blank" rel="ligthbox">
                <%= image_tag("lab1.jpeg", class: "") %>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb mt-5">
              <a href="#-" class="fancybox" target="_blank" rel="ligthbox">
                <%= image_tag("lab2.jpeg", class: "") %>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb mt-5">
              <a href="#-" class="fancybox" target="_blank" rel="ligthbox">
                <%= image_tag("lab4.jpeg", class: "") %>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb mt-5">
              <a href="#-" class="fancybox" target="_blank" rel="ligthbox">
                <%= image_tag("lab5.jpeg", class: "") %>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- .hmc-container -->
</div>
<!-- #content -->