<div id="content" class="site-content">
  <div class="hmc-container">
    <div data-elementor-type="wp-page" data-elementor-id="581" class="elementor elementor-581" data-elementor-settings="[]">
      <div class="elementor-inner container mt-5">
        <section>
          <h2 class="text-center"><b>LIBRARY</b></h2>
          <br>
          <hr>
        </section>
        <section class="elementor-section elementor-top-section elementor-element elementor-element-2b9c8ab elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2b9c8ab" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-default" style="max-width: 1140px;">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-363a52ea" data-id="363a52ea" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <section class="elementor-section elementor-inner-section elementor-element elementor-element-598c4622 elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default" data-id="598c4622" data-element_type="section">
                        <div class="container">
                          <p style="color: black;font-size: 18px;"> The school has a spacious library with over 750 books on a wide range of subjects, educational CDs and periodicals. It is supervised by a qualified librarian. It follows open access system and students are allowed to directly choose a book and issue it</p>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <section>
          <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
              <a href="#-" class="fancybox" target="_blank" rel="ligthbox">
                <%= image_tag("library1.jpeg", class: "") %>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
              <a href="#-" class="fancybox" target="_blank" rel="ligthbox">
                <%#= image_tag("library2.jpeg", class: "") %>
              </a>
            </div>
          </div>
        </section>
        
        <!-- <section class="elementor-section elementor-top-section elementor-element elementor-element-0ba3523 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-535bc0d" data-id="535bc0d" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-5c07d80 elementor-widget elementor-widget-text-editor" data-id="5c07d80" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <div>
                            <% if @document && @document.file.url %>
                              <object data="<%= asset_path(@document.file.url) %>" type="application/pdf" width="300" height="700">
                              </object>
                            <% else %>
                              <object data="/assets/LIBRARY_DETAIL.pdf" type="application/pdf" width="300" height="700">
                              </object>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> -->
      </div>
    </div>
  </div>
  <!-- .hmc-container -->
</div>
<!-- #content -->