<div id="content" class="site-content">
  <div class="hmc-container">
    <div data-elementor-type="wp-page" data-elementor-id="832" class="elementor elementor-832" data-elementor-settings="[]">
      <div class="elementor-inner">
        <div class="elementor-section-wrap">
          <section class="elementor-section elementor-top-section elementor-element elementor-element-01a3536 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="01a3536" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-208ec6e" data-id="208ec6e" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-836304f elementor-widget elementor-widget-eael-advanced-data-table" data-id="836304f" data-element_type="widget" data-widget_type="eael-advanced-data-table.default">
                        <div class="elementor-widget-container">
                          <div class="ea-advanced-data-table-wrap" data-id="836304f">
                            <div class="ea-advanced-data-table-wrap-inner">
                              <!-- <table class="ea-advanced-data-table ea-advanced-data-table-static ea-advanced-data-table-836304f" data-id="836304f">
                                <thead>
                                  <tr>
                                    <th>S.NO.</th>
                                    <th>TC NO.</th>
                                    <th>ADMISSION NO</th>
                                    <th>NAME OF STUDENT</th>
                                    <th>MOTHER'S NAME</th>
                                    <th>FATHER'S NAME</th>
                                    <th>CLASS</th>
                                    <th>CATEGORY</th>
                                    <th>DATE OF BIRTH</th>
                                    <th>DATE OF ISSUE</th>
                                    <th>STATUS</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>AWS/20/01</td>
                                    <td>AWS/17/275</td>
                                    <td>SAKSHI KUMARI</td>
                                    <td>VIJETA GUPTA</td>
                                    <td>VIRENDRA KUMAR</td>
                                    <td>III</td>
                                    <td>OBC</td>
                                    <td>1/26/2012</td>
                                    <td>6/3/2020</td>
                                    <td>PASSED</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>AWS/20/02</td>
                                    <td>AWS/19/515</td>
                                    <td>RISHABH</td>
                                    <td>SUSHMA DEVI</td>
                                    <td>PRADEEP KUMAR</td>
                                    <td>IX</td>
                                    <td>OBC</td>
                                    <td>
                                      <p>26/01/2006</p>
                                    </td>
                                    <td>6/16/2020</td>
                                    <td>PASSED</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>AWS/20/03</td>
                                    <td>AWS/17/102</td>
                                    <td>DHEERENDRA KUMAR</td>
                                    <td>VINEETA</td>
                                    <td>PREM KUMAR SHAKYA</td>
                                    <td>IV</td>
                                    <td>OBC</td>
                                    <td>
                                      <p>5/31/2010</p>
                                    </td>
                                    <td>7/14/2020</td>
                                    <td>PASSED</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>AWS/20/04</td>
                                    <td>AWS/19/538</td>
                                    <td>ABHAY SINGH</td>
                                    <td>KIRAN</td>
                                    <td>RAJESH</td>
                                    <td>VII</td>
                                    <td>SC</td>
                                    <td>6/24/2008</td>
                                    <td>7/29/2020</td>
                                    <td>PASSED</td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>AWS/20/05</td>
                                    <td>AWS/19/539</td>
                                    <td>PRIYANSHI</td>
                                    <td>KUSUM LATA</td>
                                    <td>KAUSHAL KISHORE</td>
                                    <td>VII</td>
                                    <td>SC</td>
                                    <td>10/15/2009</td>
                                    <td>7/29/2020</td>
                                    <td>PASSED</td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>AWS/20/06</td>
                                    <td>AWS/18/363</td>
                                    <td>RUDRA GUPTA</td>
                                    <td>ANJALI GUPTA</td>
                                    <td>GAGAN GUPTA</td>
                                    <td>III</td>
                                    <td>GEN</td>
                                    <td>8/7/2011</td>
                                    <td>8/18/2020</td>
                                    <td>PASSED</td>
                                  </tr>
                                </tbody>
                              </table> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- .hmc-container -->
</div>
<!-- #content -->