<div id="content" class="site-content">
  <div class="hmc-container">
    <div data-elementor-type="wp-page" data-elementor-id="404" class="elementor elementor-404" data-elementor-settings="[]">
      <div class="elementor-inner">
        <div class="elementor-section-wrap">
          <section class="elementor-section elementor-top-section elementor-element elementor-element-6b8b7a3 elementor-section-height-min-height elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="6b8b7a3" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5062d2b" data-id="5062d2b" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-ee4d907 elementor-widget elementor-widget-heading" data-id="ee4d907" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default"></h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="elementor-section elementor-top-section elementor-element elementor-element-2b9c8ab elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2b9c8ab" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-default" style="max-width: 1140px;">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-363a52ea" data-id="363a52ea" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-7f7388b8 elementor-widget elementor-widget-heading" data-id="7f7388b8" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h3 class="elementor-heading-title elementor-size-large">Start your carrier with SHKUNTLAM INTERNATIONAL</h3>
                        </div>
                      </div>
                      <section class="elementor-section elementor-inner-section elementor-element elementor-element-598c4622 elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default" data-id="598c4622" data-element_type="section">
                        <div class="container">
                          <p style="color: black;font-size: 18px;"><b><i>SHAKUNTLAM INTERNTIONAL</i></b> believes that an efficient workforce combined with the right motivation can achieve new milestones. It is our constant endeavor to provide an amicable environment, focusing on high employee engagement and retention</p>
                          <p style="color: black;font-size: 18px;">We believe in that culture which is based on mutual trust & respect that encourage team work and with the right guidance every individual has the capability to move to the next step. We follow a process of identifying the talent within the organization and provide them appropriate opportunities.</p>
                          <br>
                          <p style="color: black;font-size: 18px;">We believe in teachers’ development and to align them with modern teaching methodologies there is structured, continuous and comprehensive teachers training and classroom support to make classroom teaching more effective.</p><br>
                          <hr style="margin: 30px 0">
                          <div class="col-md-12 ">
                            <div class="headio">EMPLOYMENT OPPORTUNITIES:</div>
                            <div class="outer_fieldset_new">
                              <table class="table_my_new">
                                <tbody>
                                  <tr>
                                    <td class="hadu"> 
                                      <div class="row">
                                        <div class="col-md-6">TITLE</div>
                                        <div class="col-md-6"> VACCANCY </div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td> 
                                      <div class="row">
                                        <div class="col-md-6">PRTs</div> 
                                        <div class="col-md-6">5</div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="row">
                                        <div class="col-md-6">  TGTs </div> 
                                        <div class="col-md-6">  5  </div> 
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="row"> 
                                        <div class="col-md-6">  PGTs </div> 
                                        <div class="col-md-6">  1  </div>
                                      </div>
                                    </td>            
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <hr style="margin: 30px 0">
                          <div class="col-md-12 ">
                            <div class="headio">HOW TO APPLY:</div>
                            <div class="mail-content">mailing your CV us at: 
                            <br><br>
                              Email: <a href="mailto:shakuntalam.official@gmail.com">shakuntalam.official@gmail.com</a><br>
                              Whatsapp: <a href="tel:+917533848258">+91 75338 48258</a><br>
                              SHAKUNTLAM INTERNATIONAL SCHOOL<br>
                              AGRA BAH ROAD, <br>
                              UDI MOD ETAWAH<br>
                              UTTAR PRADESH 206131<br>
                              India
                            </div>
                            <div class="col-md-4 "> 
                            &nbsp;
                            </div>
                          </div>
                          <hr style="margin: 30px 0">
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
.elementor-404 .elementor-element.elementor-element-6b8b7a3:not(.elementor-motion-effects-element-type-background), .elementor-404 .elementor-element.elementor-element-6b8b7a3 > .elementor-motion-effects-container > .elementor-motion-effects-layer
  {
    background-image:url("/assets/vacancy.jpg");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
  }
  .elementor-heading-title.elementor-size-large{
    padding: 20px;
    background: #F89F58;
    color: #fff !important;
    font-weight: bold;
  }
  .headio {
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    color: #F89F58;
    /* font-weight: bold; */
    margin-top: 0;
    padding-bottom: 3px;
    margin-bottom: 8px;
  }
  .outer_fieldset_new {
    border: 5px solid #F89F58;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    overflow-y: hidden;
    overflow-x: auto;
    margin-bottom: 15px;
  }
  .table_my_new {
    width: 100%;
    overflow: hidden;
    background: #fff;
    margin: 0 auto;
    border-spacing: 0;
  }
  .table_my_new td:last-child {
    border-right: none;
}
.table_my_new td {
    vertical-align: middle;
    padding: 6px 10px;
    border-right: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    /* width: 27%; */
    color: #F89F58;
    font-size: 16px;
}
.hadu {
    background: rgba(46, 58, 144, 0.19);
    font-size: 18px!important;
    font-weight: bold;
    color: #F89F58!important;
    border-bottom: 1px solid #F89F58 !important;
}
.table_my_new div:first-child {
    color: #F89F58;
    font-size: 17px;
}
.mail-content{
  font-size: 20px;
}
</style>