<footer id="colophon" class="site-footer" role="contentinfo"> 				
	<div id="mid-footer" class="hamroclass-main-footer footer-widgets-wrapper footer_column_three hmc-clearfix">
		<div class="hmc-container">
      <div class="footer-widgets-area hmc-clearfix">
        <div class="hmc-footer-widget-wrapper hmc-column-wrapper hmc-clearfix">
      		<div class="hmc-footer-widget widget-area wow fadeInLeft footer-sidebar-area" data-wow-duration="0.5s">
      			<section id="text-8" class="widget widget_text">
      				<h4 class="widget-title">
      					<span class="title-wrapper">About Us</span>
  						</h4>
  						<div class="textwidget">
                <p>“Be wise in the use of Time as lost time is never found again” The question is not How much Time do we have ? The question is “ What shall we do with it?</p>

                
                <p>Time management is an important aspect of human life, so that we not only do our work but also avoid unnecessary hurry and Tension. If we make a time- table and merge it effectively, we will find opportune in fulfillment but there is a need of determination and hard work to follow it.</p>
                <p>“This is the motto of  Shakuntlam ”.
                “Learn from Yesterday, Live for today, Hope for tomorrow”
                “Time Flies……….You’re the Pilot”</p>
						</section>
					</div>
        <div class="hmc-footer-widget widget-area wow fadeInLeft footer-sidebar-area" data-wow-duration="1s">
  		    <section id="nav_menu-6" class="widget widget_nav_menu">
  		    	<h4 class="widget-title">
  		    		<span class="title-wrapper">Quick Links</span>
  		    	</h4>
  		    	<div class="menu-footer-menu-bar-container">
  		    		<ul id="menu-footer-menu-bar" class="menu">
  		    			<li id="menu-item-663" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-29 current_page_item menu-item-663"><a href="" aria-current="page">Home</a></li>
								<li id="menu-item-665" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-665"><a href="<%= home_admission_procedure_path %>">ADMISSION PROCEDURE</a></li>
								<li id="menu-item-667" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-667"><a href="<%= home_school_building_path %>">Infrastructure and Facilities</a></li>
								<li id="menu-item-666" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-666"><a href="<%= home_school_building_path %>">Details of School Building</a></li>
								<li id="menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-845"><a href="<%= home_contact_us_path %>">Contact Us</a></li>
							</ul>
						</div>
					</section>
				</div>
        <div class="hmc-footer-widget widget-area wow fadeInLeft footer-sidebar-area" data-wow-duration="1.5s">
          <section id="centurylib-social-icons-3" class="widget centurylib-social-icons">
          	<h4 class="widget-title">
          		<span class="title-wrapper">Connect With Us</span>
          	</h4>		
          	<div class="social-icons">
            	<a title="Lekh Social Media Icons" target="_blank" href="https://www.facebook.com/sisetawah/" style="background-color:#ffffff"><i class="fa fa-facebook "></i></a>
            	<a title="Lekh Social Media Icons" target="_blank" href="https://instagram.com/shakuntlam2?utm_medium=copy_link" style="background-color:#ffffff"><i class="fa fa-instagram" style="font-weight: bold;"></i></a>
            	<a title="Lekh Social Media Icons" target="_blank" href="tel:+917533848258" style="background-color:#ffffff"><i class="fa fa-whatsapp" style="font-weight: bold;"></i></a>
            </div>
        	</section>
        </div>
      </div>
     </div><!-- .footer-widgets-area -->
    </div>
	</div>
 	<div class="bottom-footer hmc-clearfix">
 		<div class="hmc-container">		
 			<div class="site-info">
				<span class="hmc-copyright-text">@Copyright 2021 KANHA INTERNATIONAL ACADEMY, All rights reserved.</span>
				<span class="sep"> | </span>
			</div><!-- .site-info -->
			<nav id="footer-navigation" class="footer-navigation" role="navigation">
				<div class="menu-primary-menu-container">
					<ul id="primary-menu" class="menu">
						<li class="menu-item"><a href="" rel="home">Home</a></li>
					</ul>
				</div>
			</nav>
		</div><!-- .hmc-container -->
	</div> <!-- bottom-footer -->
</footer><!-- #colophon -->